
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap";
@import "compass-mixins/lib/compass/css3";

@import "modules/mixins";
@import "modules/display-mode";
@import "modules/timezone-selector";
@import "modules/match";
@import "modules/ranking";



*{
	margin: 0;
	padding: 0;
	list-style: none;
	@include box-sizing(border-box);
}

body {
	font-family: Roboto, Helvetica, "Trebuchet MS", sans-serif;
	font-weight: 100;
	color: #444;
}

h1 {
	font-size: 90px;
	text-align: center;
	font-weight: 100;

	small {
		font-size: 45px;
		display: block;
		font-weight: 100;
	}

	@include breakpoint(mobile) {
		font-size: 32px;

		small {
			display: none;
		}
	}
}

header {
	display: inline-block;
	width: 100%;
}

.wrapper {
	width: 96%;
	margin: auto;
}

.panel, .panel-heading {
	@include border-radius(0);
}

.panel-body {
	padding: 0;
}

footer {
	text-align: center;
}
