<p><span>Toggle visualization:</span>
	<div class="btn-group" data-toggle="buttons">
		<label class="btn btn-primary">
			<input type="radio" name="options" id="Group" value="group"> Group
		</label>
		<label class="btn btn-primary">
			<input type="radio" name="options" id="Date" value="date"> Date
		</label>
		<label class="btn btn-primary">
			<input type="radio" name="options" id="Team" value="team"> Team
		</label>
	</div>
</p>
