<div class="panel panel-default">
	<div class="panel-heading">
        <h3 class="panel-title">{{{group}}}</h3>
     </div>

	<div class="panel-body">
		<div class="items show-grid"></div>
	</div>
</div>
