<p><span class="visible-xs">Timezone:</span><span class="hidden-xs">Select your timezone to see the local time of the games:</span> </p>
<select name="timezone">
	{{#selectList this}}
		<option {{selected}}>{{text}}</option>
	{{/selectList}}
</select>
